{% extends "speisekammer_ui/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h4>Startpage Web Suche</h4>
        </div>
        <div class="row">
            <form class="col-12 form-inline" target="_blank" method="POST" accept-charset="UTF-8"
                  action="https://startpage.com/do/search">
                <div class="input-group col-lg-10 col-md-10">
                    <input class="form-control" type="text" name="keyword" placeholder="Startpage Suche">
                </div>
                <button type="submit" value="Search" class="btn btn-success col-lg-2 col-md-2">Suche</button>
                <br>
            </form>
        </div>
    </div>
{% endblock %}
