{% extends "speisekammer_ui/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ product.name }}</h4>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Current Stock
                        <span id="item-badge-{{ product.pk }}" class="badge badge-primary badge-pill">{{ product.item_count }}</span>
                        <button class="btn btn-success" onclick="productIO({{ product.pk }}, 1, '#item-badge-{{ product.pk }}')"><i class="fa fa-fw fa-plus"></i></button>
                        <button class="btn btn-danger" onclick="productIO({{ product.pk }}, -1, '#item-badge-{{ product.pk }}')"><i class="fa fa-fw fa-minus"></i></button>
                     </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Desired Stock
                        <span id="stock-badge-{{ product.pk }}" class="badge badge-info badge-pill">{{ product.stock_count }}</span>
                        <button class="btn btn-success" onclick="productStockIO({{ product.pk }}, 1, '#stock-badge-{{ product.pk }}')"><i class="fa fa-fw fa-plus"></i></button>
                        <button class="btn btn-danger" onclick="productStockIO({{ product.pk }}, -1, '#stock-badge-{{ product.pk }}')"><i class="fa fa-fw fa-minus"></i></button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Add to active shopping list
                        <div class="form-inline">
                            <div class="input-group">
                                <input class="form-control" type="text" id="list-input-{{ product.pk }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-info"
                                            onclick="productToShoppingList({{ product.pk }});">
                                        <i class="fa fa-fw fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Barcodes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for barcode in product.barcodes.all %}
                            <tr>
                                <td>{{ barcode.barcode }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
